.footer {
    background-color: #495464;
    color: #F4F4F2;
    height:14vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width:100%;
  }
  .footerlink-header{
    margin-bottom: 5px;
  }
  .footerLink{
    display: inline-block;
    padding-right:10px;
    font-size: 1.7rem;
    padding-top:10px;
  }
  @media(max-width:378px){
    .footer{
      height: unset;
    }
  }